body {
    font-family: 'Schibsted Grotesk', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

}

h2 {
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 28px;
    margin-top: 0px;


}

h3 {
    font-size: 32px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
}

p {
    font-size: 24px;
    margin-left: 40px;
    margin-top: 16px;
    margin-bottom: 0px;
}

.fa-xmark {
    font-size: 32px;
    color: black;
    margin-left: 640px;
    margin-right: 36px;
    margin-top: 32px;

}

/* Marco */
.avatar {
    width: 565px;
    height: 300px;
    border-color: #C9EAA4;
    border-style: solid;
    border-width: 8px;
    border-radius: 32px;
    margin-left: 40px;
    overflow: hidden; /* Recorta la imagen */
    position: relative;
    margin-bottom: 40px;
    z-index: 2;
}

.avatar-container {
    position: relative;
    display: inline-block;
}
.avatar img,
.avatar .profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 10%; /* Mueve la imagen hacia abajo */
    display: block;
    filter: grayscale(100%)
}

.social-icons {
    position: absolute;
    top: 72%;
    right: -55px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    background-color: #C9EAA4;
    width: 100px;
    height: 120px;
    border-radius: 0 32px 32px 0;

    z-index: 1;
    padding: 0;
}
/* Iconos */
.fa-linkedin, .fa-github {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    font-size: 36px;
    color: black;
    transition: 0.3s ease-in;
}

.fa-linkedin:hover, 
.fa-github:hover {
    color: #4A741B;
    scale: 1.05;
}

.fa-linkedin:active, 
.fa-github:active  {
    color: #98D652;
    scale: 1;
    border-color: #98D652;
    transition: 0.1s ease;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    height:100px;
    margin-left: 40px;
    margin-top: 48px;
}

